#navBar{
    width: 100vw;
    background-color: #464866;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: absolute;
    top: 0;
}

#pageName{
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#list{
    flex-direction: row;
    list-style-type: none;
    display: table;
}

#siteTitle{
    padding-left: 10px;
    color: #AAABB8;
}

li{
 padding: 1vw;
}

.links{
    color: #AAABB8;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.buttons{
    vertical-align: middle;
    display: table-cell;
}